<!DOCTYPE html>
<html>
<head>
    <title>Add Map</title>
    <style>
        #map { height: 400px; width: 100%; }
        html, body { height: 100%; margin: 0; padding: 0; }
    </style>
</head>
<body>
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCIHsOn29OJ5904rIQdufsxJUmWarvJyM&libraries=marker"></script>
    <script>
        function initMap() {
            const position = { lat: 39.8283, lng: -98.5795 };
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 4,
                center: position,
                mapId: "DEMO_MAP_ID"
            });
            
            new google.maps.marker.AdvancedMarkerElement({
                map: map,
                position: position,
                title: "Uluru"
            });
        }
        
        google.maps.event.addDomListener(window, 'load', initMap);
    </script>
</body>
</html>