{% load static %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/overview.css' %}">


<footer class="site-footer">
    <div class="footer-content">
        <div class="social-icons">
            <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
            <a  class="about-us-icon" title="About Us"><i class="fas fa-info-circle"></i></a>
        </div>
        
    </div>
</footer>